/* ---------------------------
    Separa Cita
   --------------------------- */


.citas-en-linea .title_rugrats {
margin: 0 0 3px;
}

.citas-en-linea .select {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #5fc6fb;
    border-radius: 6px;
    height: 32px;
    padding: 6px 0;
    width: 98%;
    outline:none;

    @include min-screen($tablet-l) {
      width: 395px;
      padding: 6px;
    }
}


.select_especialidad{
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #5fc6fb;
    border-radius: 6px;
    height: 32px;
    padding: 6px;
    width: 395px;
    outline:none;
}


.infraestructura .content {
    background: url(../images/infra.jpg) no-repeat;
    height: 634px;
}

.link_home {
    font-weight: bold;
    text-decoration: none;
}

.sunrise-mapa {
  width: 100%;
  height: 220px;
  @include min-screen($tablet-l) {
    height: 388px;
  }
}
