
/* ---------------------------
   consejos
   --------------------------- */


.titulo_consejo {
    color: #228b3d;
    font-size: 13px;
    line-height: 19px;
}

.parrafo_consejo {
    width: 376px;
    float: right;
}

.number {
    color: #228b3d;
    float: left;
}


.content_consejo {
    padding: 0 0 12px 0;
}

/* ---------------------------
   consejos
   --------------------------- */


.consejos-y-noticias .content_consejo p:last-child::after , .consejos-y-noticias .content_noticias p:last-child::after {
    content: '...';
}



.home .content_consejo p:last-child:after, .home .content_noticias p:last-child:after {
    content: "...";
}
