
/* ---------------------------
   consejos
   --------------------------- */
.main_consejos {
  a.verpost {
    padding: 10px;
    @include min-screen($tablet-l) {
      margin: 0 50px 0 0;
      padding: 5px;
      position: relative;
      top:18px;
    }
  }
  .contenido_inner {
    //margin:0 0 15px;
  }
  .title_second {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    //min-height: 64px;
  }
  .box-noticia {
    min-height: 404px;
    margin:0 5% 3% 0;
  }
}

.main_consejos .noticia_rugrats {
  padding: 0;
}
.titulo_consejo {
    color: #228b3d;
    font-size: 13px;
    line-height: 19px;
}

.parrafo_consejo {
    width: 376px;
    float: right;
}

.number {
    color: #228b3d;
    float: left;
}


.content_consejo {
    padding: 0 0 12px 0;

    .number {
      font-weight:normal;
      color:black;
      float:none;
    }
    ol {
      li {
        margin:0 0 14px;
      }
    }
    ul {
      li {
        margin:0 0 14px;
      }
    }
}

.content_noticias {
    padding: 0 0 12px 0;

    .number {
      font-weight:normal;
      color:black;
      float:none;
    }
    ol {
      li {
        margin:0 0 14px;
      }
    }
    ul {
      li {
        margin:0 0 14px;
      }
    }
}


.contenido_noticia  {
    padding: 0 0 12px 0;

    .number {
      font-weight:normal;
      //color:black;
      float:none;
    }
    ol {
      li {
        margin:0 0 14px;
      }
    }
    ul {
      li {
        margin:0 0 14px;
      }
    }
}


/* ---------------------------
   consejos
   --------------------------- */


// .consejos-y-noticias .content_consejo p:last-child::after , .consejos-y-noticias .content_noticias p:last-child::after {
//     content: '...';
// }
//
//
//
// .home .content_consejo p:last-child:after, .home .content_noticias p:last-child:after {
//     content: "...";
// }


//box-noticias
.box-noticia {
    display: inline-block;
    margin: 0 5% 12% 0;
    width: 100%;

    @include min-screen($movil-l) {
      width: 44%;
      margin: 0 5% 5% 0;
    }
    @include min-screen($tablet-l) {
      float: left;
      min-height: 382px;
    }

    img {
        height: auto;
        padding: 0 0 10px;
        width: 100%;
        @include min-screen($tablet-l) {
          padding: 10px 0 15px 0;
        }


    }
}

.contenido-image {
  text-align: center;
  margin: auto;
  padding: 10px 0 20px 0;
  @include min-screen($tablet-l) {
  padding: 25px 0 20px;
  }

}

.contenido-image > p {
    margin: 25px 0;
    text-align: center;
}

.content_noticias > span   {
  color:gray;
 }
