.footer {
  // border:1px solid green;
    background: url("../images/bg_footer.jpg") no-repeat scroll bottom center rgba(0, 0, 0, 0);
    border-top: 2px solid #fff;
    clear: both;
    color: #040404;
    float: none;
    font-family: 'Comic Sans MS',Arial;
    font-size: 13px;
    margin: 0 auto;
    position: relative;
}

.footer_inner {
	padding: 20px 0;
  @include min-screen($tablet-l) {
    padding: 20px 42px 23px;
  }
}


.lista_footer {
	margin: 0;
  @include min-screen($tablet-l) {
    float: left;
  }
}


.lista_footer li {
    display: block;
    margin: 0 0 10px;
    padding:0;
    text-align: center;
    @include min-screen($tablet-l) {
      background: url("../images/guion.png") no-repeat scroll right center rgba(0, 0, 0, 0);
      display: inline-block;
      margin: 0 6px 0 0;
      padding: 0 6px 0 0;
      text-align: left;
    }
}


.lista_footer li:last-child {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.derechos {
  margin: 20px 0 0;
  @include min-screen($tablet-l) {
    float: right;
    margin: 0;
  }
}


.derechos p {
   color: #040404;
   font-family: 'Comic Sans MS',Arial;
   font-size: 13px;
   line-height: 18px;
   margin: 0;
   padding: 0 !important;
   text-align: center;
   @include min-screen($tablet-l) {
     text-align: right;
   }
}

.tren {
    background: url("../images/carro.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 36px;
    position: absolute;
    right: 34px;
    top: -41px;
    width: 250px;
}



.cloud_footer {
    /*background: url("../images/cloud_footer2.png") no-repeat scroll top right rgba(0, 0, 0, 0);*/
    background: transparent url("../images/cloud_footer2.png") no-repeat scroll right top / 100% 102%;
    height: 515px;
    position: absolute;
    right: 0;
    top: 57px;
    width: 312px;
}


.fono {
    margin: 0;
    @include min-screen($tablet-l) {
     margin: 5px 0 0;
    }
    span {
      display:inline-block;
      text-align:center;
      font-size:15px;
      width:33%;
      @include min-screen($tablet-l) {
       display:block;
       width: auto;
      }

      a {
        &:hover {
          //text-decoration:none;
        }
      }
    }
}


.fixed-fono {
    background: white none repeat scroll 0 0;
    bottom: 0;
    padding: 8px;
    position: fixed;
    width: 100%; 
    display:block;
    padding: 18px 8px;
    @include min-screen($tablet-l) {
       display:none;
    }
}

