.footer {
  border:1px solid green;
    background: url("../images/bg_footer.jpg") no-repeat scroll bottom center rgba(0, 0, 0, 0);
    border-top: 2px solid #fff;
    clear: both;
    color: #040404;
    float: none;
    font-family: 'Comic Sans MS',Arial;
    font-size: 13px;
    margin: 0 auto;
    position: relative;
}

.footer_inner {
	padding: 20px 42px 23px;
}


.lista_footer {
	float: left;
	margin: 0;

}


.lista_footer li {
    background: url("../images/guion.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    display: inline-block;
    margin: 0 6px 0 0;
    padding: 0 6px 0 0;
}


.lista_footer li:last-child {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.derechos {
	float: right;
}


.tren {
    background: url("../images/carro.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 36px;
    position: absolute;
    right: 34px;
    top: -41px;
    width: 250px;
}

.derechos > p {
    color: #040404;
    font-family: 'Comic Sans MS',Arial;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 0 !important;
    text-align: right;
}



.cloud_footer {
    background: url("../images/cloud_footer2.png") no-repeat scroll top right rgba(0, 0, 0, 0);
    height: 515px;
    position: absolute;
    right: 0;
    top: 57px;
    width: 312px;
}
