// Generales
// Generales

// * {
//     -webkit-font-smoothing: antialiased; /* Sin bold en Mac. */
//     box-sizing: border-box;
// }
//
// html {
//     font-family: Helvetica;
//     color: black
// }
//
// h1,h2,h3,h4,h5,h6 {
//     font-weight: normal;
//     margin: 0;
// }
//
// ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
// }
//
// a {
//     color: inherit;
//     text-decoration: none;
//     cursor: pointer;
//     outline: none;
// }
//
// p {
//   font-family:Helvetica-Narrow;
//   color: #6b6b6b;
// }

//nuevo

@mixin contenedor() {
    max-width: 1024px;
    margin: 0 auto;
}

.contenedor {
    @include contenedor;
    padding: 0 20px;
}




body {
  background: #BEDDF9;
  @include min-screen($tablet-l) {
    background: url(../images/bg.jpg) repeat-x center top #BEDDF9;
  }
}

.wrapper {
	overflow: hidden;
}

.container {
	max-width: 1024px;
	// width: 1024px;
	margin: 0 auto;
  // @include contenedor();
  // @include clearfix;

  @include min-screen($tablet-l) {
    background: url(../images/nav2.jpg) repeat-y left top;
  }
}

.main {
	position: relative;
}


.content {
	width: 100%;
  @include min-screen($tablet-l) {
    width: 756px;
  	float: right;
  }
}

.content_inner {
	zoom: 1;

}

.content_left {
	width: 100%;
  @include min-screen($tablet-l) {
    float: left;
  	width: 440px;
  }
}

.content_right {
    display: none;
    @include min-screen($tablet-l) {
      float: right;
      width: 316px;
      display: block;
    }
}


.content_left_inner {
    padding: 2px 15px 0 32px;
}

.content_right_inner {
	height: 540px;
}

.main_content_inner {
	padding: 35px 0 68px 0;
}


.title_rugrats {
    color: #ff8300;
    font-family: 'rugratsregular',arial;
    font-size: 56px;
    letter-spacing: 1.5px;
    margin: 0 0 21px;
}

.noticia_rugrats {
    color: #ff8300;
    font-family: 'rugratsregular',arial;
    font-size: 56px;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 62px 0 0;
}

.consejos-y-noticias .noticia_rugrats {
    padding: 0!important;
}

.link {
    color: #211915;
    float: right;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.separa {
    cursor: pointer;
    display: block;
    height: 226px;
    position: absolute;
    right: 88px;
    top: 75px;
        -moz-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-webkit-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-o-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-ms-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
   width: 166px;
    z-index: 50;
}



.contenido_inner {
    padding: 14px 0 0;
    border-top: 1px solid #fff;
    margin: 40px 0 0 0;
    img {
        padding: 0 0 10px 0;
    }
}


.iconos {
    background: url("../images/iconos.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    height: 38px;
    left: 3px;
    position: absolute;
    top: 26px;
    width: 257px;
    z-index: 200;
    display: none;
    @include min-screen($tablet-l) {
      display: block;
    }
}


.title_second {
    color: #ff8300;
    font-size: 14px;
    margin: 0 0 10px;
    padding: 8px 0 0;
     line-height: 1.5em;
}


.texto {
    color: #211915;
    font-family: 'Arial_rounded_bold',Arial;
    font-size: 14px;
    line-height: 21px;
    position: absolute;
    right: 18px;
    text-align: center;
    top: 442px;
}

.email {
	font-family: 'Arial_rounded_bold', Arial;
	display: block;
	color: #211915
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
}
