.header {
  // border:2px solid yellow;
  display: none;
  @include min-screen($tablet-l) {
    display: block;
    // border:2px solid blue;
  }
}


.header {
	position: relative;
	z-index: 100;
}

.inicio {
    background: url("../images/cuerda.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 74px;
    left: 337px;
    position: absolute;
    top: 0;
    width: 53px;
}

.facebook {
    background: none repeat scroll 0 0 transparent;
    height: 35px;
    position: absolute;
    right: 467px;
    top: 93px;
    width: 35px;
    -moz-transform: scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-webkit-transform: scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-o-transform: scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-ms-transform: scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
transform: scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}


.twitter {
    background: none repeat scroll 0 0 transparent;
    height: 35px;
    position: absolute;
    right: 437px;
    top: 94px;
    width: 35px;
    -moz-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-webkit-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-o-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-ms-transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
transform: scale(1) rotate(18deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}


.logo_image img {
    position: relative;
    z-index: 10;
}

.logo_image a {
    display: block;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transition: transform 0.5s ease 0s;
    -webkit-transition: transform 0.5s ease 0s;
    -o-transition: transform 0.5s ease 0s;
    -ms-transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
}

.logo_image a:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.cloud {
    background: url("../images/cloud3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 226px;
    position: absolute;
    right: 0;
    top: 0;
    width: 555px;
}

/* ---------------------------
    Menu
   --------------------------- */

.content_menu {
	background: rgba(255,0,0,0.1);
	width: 273px;
	float: left;
}



.main_menu {
    position: relative;
}


.vertical_text {
    color: #fff;
    float: left;
    font-size: 17px;
    height: 42px;
    line-height: 37px;

    @include min-screen($tablet-l) {
      position: absolute;
      text-align: center;
      top: 182px;

       transform: rotate(-90deg);
       transform-origin: left top 0;
       width: 197px;
       text-shadow: -1px 2px 18px rgba(150, 150, 150, 1);
       transition: all 0.5s ease 0s;
    }
}

.vertical_text:hover {
	color: #000;
	text-decoration: none;
	color:#fff;
}


.vertical_text:hover {
    width: 250px;
}

@include min-screen($tablet-l) {
  .navi0 { left: 0; }
  .navi1 { left: 50px; }
  .navi2 {left: 92px; }
  .navi3 { left: 134px; }
  .navi4 { left: 177px; }
  .navi5 { left: 226px; }
  .navi0:hover { background: #62B1EC; }
  .navi1:hover { background: #e0a708; width: 218px; }
  .navi2:hover { background: #be0713; }
  .navi3:hover { background: #06837e; }
  .navi4:hover { background: #d07802; width: 221px; }
  .navi5:hover { background: #208e1b; }
}


.link-home {
  display: none;
  @include min-screen($tablet-l) {
    display: block;
  }
}



#casita {
  position: absolute;
  right: 635px;
  top: 9px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  width: 53px;
  height: 63px;
}


#casita:hover {
  margin: -3px;
  width: 56px;
  height: 67px;
  margin-top: 17px;
}

.pajarito {
  width: 71px;
  height: 51px;
  position: absolute;
  background: url("../images/pajarito.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  left: 526px;
  top: 49px;
  display: none;
  @include min-screen($tablet-l) {
    display: block;
  }
}


.red-social {
  position: absolute;
  left: 496px;
  top: 92px;
  display: none;
  @include min-screen($tablet-l) {
    display: block;
  }
}


#icofacebook {
  position: absolute;
  margin-left: 24px;
  width: 39px;
  height: 38px;
  transition: all 1s ease;
}



#icofacebook:hover {
  width: 45px;
  height: 44px;
  margin-top: 2px;
}


#icotwitter {
  position: absolute;
  margin-left: 53px;
  width: 39px;
  height: 38px;
  transition: all 1s ease;
}

#icotwitter:hover {
  width: 45px;
  height: 44px;
  margin-top: 2px;
}

#notamusical:hover {
  position: absolute;
  width: 155px;
  height: 153px;
  margin: 15px;
}

#notamusical {
  position: absolute;
  right: 33px;
  bottom: -74px;
  width: 155px;
  height: 153px;
  transition: all 1s ease;
}

html {
    // opacity: 0.2;
}


//
.header-sitio {
    z-index: 100;
    position: relative;
    display: block;
    @include min-screen($tablet-l) {
        // height: 90px;
        display: none;
    }
    >h1 {
        display: none;
    }
}


.contenedor-logo-y-navegacion-principal {
    background-color: white;
    height: 80px;
    box-shadow: 0 3px 4px -3px #a3a0a0;
    position: relative;
    z-index: 1;

    @include min-screen($tablet-l) {
        height: 90px;
    }
}

.logo-y-navegacion-principal {
    @include contenedor();
    @include clearfix;
    //padding: 0 0 0 20px;
    position: relative;
    // height: inherit;
    height: 80px;
}

.logo-header {
    float: left;
    //margin: 9px 0;
    // width: 155px;
    // margin: 16px 0 10px 20px;
    // margin: 5px 0 0 20px;
    margin:5px 0 9px 20px;
    width: 85px;
    height: auto;
}

.redes-mobile {
  display: block;
  float: right;
  margin: 0 64px 0 0;
  position: relative;
  top: 31px;
  @include min-screen($tablet-l) {
      display: none;
  }
}

.navegacion-principal {
    float: right;
    @include max-screen($tablet-l) {
        // box-shadow: 0px -1px 5px 0px rgba(163,160,160,1);
    }
    >h1 {
        display: none;
    }

     .icono-mundi {
        background: #60646d url("../images/header/mundo.png") no-repeat 26px  center;
        padding: 0 26px 0 26px;
        a {
            display: inline-block;
            color:#fff;
            font-size: 12px;
            background: none;
        }
        .boton-idioma {
            float: right;
            padding: 0;
            background: #7e8289;
            margin: 14px 0;
            padding: 3px 4px;
        }
    }

}

.boton-menu-principal {
    position: absolute;
    top: 40px;
    right: 20px;
    //background: green none repeat scroll 0 0;
    z-index: 50000000;
    cursor: pointer;

    >span {
        display: block;

        &:first-child {
            display: none;
        }

        @include min-screen($tablet-l) {
            display: none;
        }
    }

    .linea {
        width: 20px;
        height: 14px;
        border: 2px solid #8d8d8d;
        border-left: none;
        border-right: none;
        position: relative;

        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 100%;
            height: 2px;
            top: 50%;
            margin-top: -1px;
            background-color: #8d8d8d;
        }
    }
}

.enlaces-navegacion-principal {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    font-size: 0;
    background-color: #f9f9f9;
    max-height: 0;
    overflow: hidden;
    z-index: 501;
    transition: max-height 0.5s ease-in;
    margin:0;

    .activado + & {
        max-height: 800px;
        transition: max-height 0.5s ease-in;
    }


    @include min-screen($tablet-l) {
        position: static;
        max-height: initial;
        background-color: transparent;
        margin-top: 38px;
        overflow: visible;
    }

    @include min-screen($escritorio) {
        margin-top: 36px;
    }

    >li {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        border-bottom: 1px solid #d3d3d3;
        margin:0;

        @include min-screen($tablet-l) {
            border-bottom: none;
            width: auto;
            position: relative;
            padding: 0 0 32px;
            margin: 0 5px 0 0;
        }

        &:last-child {
            border: none;

            > a{
                padding-right: 0;
            }
        }


        a {
          color:white;
            &:hover {
              color:white;
                 @include min-screen($tablet-l) {

                  //  background: red;
                  //  border-radius: 13px;
                  //  color: #fff;
                }
            }
        }

        &.quienes {
          background: #64b2ed;
        }

        &.pediatrica {
            background: #edaf05;
        }
        &.especialidades {
           background: #FF020C;
        }
        &.infraestructura {
           background: #058782;
        }
        &.consejos {
          background: #d17801;
        }
        &.citas {
          background: #14981d;
        }

    }

    a {
        font-size: 14px;
        display: block;
        // font-family: Arial;
        color: black;
        padding: 18px 30px;
        text-decoration: none;

         &.activado, &:hover, &:active {
            color: #ff8300;

            @include min-screen($tablet-l) {
                color: #ff8300;
            }
        }

        @include min-screen($tablet-l) {
        font-size: 14px;
        background: none;
        display: inline-block;
        }

        @include min-screen($tablet-l) {
            font-size: 13px;
        }

        @include min-screen($tablet-l) {
            padding: 0 8px;
        }

        @include min-screen($escritorio) {
            //padding: 0 14px;
            padding: 0 13px;
            font-size: 16px;
        }

    }


}



.ico-facebook {
    color: #0070b9;
    font-size: 30px;
    margin: 0 4px 0 0;
    &:hover {
      text-decoration: none;
    }
    @include min-screen($movil-l) {
        margin: 0 8px 0 0;
    }
}


.ico-twitter {
    color: #3db1d9;
    font-size: 30px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
}
