footer.footer.container.clearfix
  .clearfix.footer_inner
    ul.lista_footer.list_reset.clearfix
      li
        a(href='quienes-somos.html') Quiénes Somos
      li
        a(href='neumologia-pediatrica.html') Neumología Pediátrica
      li
        a(href='especialidades.html') Especialidades
      li
        a(href='infraestructura.html') Infraestructura
      li
        a(href='noticias.html') Noticias
      li
        a(href='citas.html') Citas en Línea
    .derechos
      p SunRise© 2016 | Todos los Derechos Reservados 
  .tren.fadeInDown.animated
