footer.footer.container.clearfix
  .clearfix.footer_inner
    ul.lista_footer.list_reset.clearfix
      li
        a(href='quienes-somos.html') Quiénes Somos
      li
        a(href='neumologia-pediatrica.html') Neumología Pediátrica
      li
        a(href='especialidades.html') Especialidades
      li
        a(href='infraestructura.html') Infraestructura
      li
        a(href='noticias.html') Noticias
      li
        a(href='citas.html') Citas en Línea      
      li
        a(href='citas.html') Contáctenos
    .derechos
      p SunRise© 2017
  .tren.fadeInDown.animated
.fixed-fono
  .fono
    span.fono-casa
      | <i class="icon-phone4"></i>  <a href="tel:012751124">2751124</a>
    span.fono-cel 
      | <i class="icon-phone"></i> <a href="tel:945395469">945395469</a>  
    span.fono-cita 
      | <i class="icon-whatsapp"></i> <a href="tel:995777555">995777555</a> 