footer.footer.container.clearfix
  .clearfix.footer_inner
    ul.lista_footer.list_reset.clearfix
      li
        a(href='quienes-somos.html') Quiénes Somos
      li
        a(href='neumologia-pediatrica.html') Neumología Pediátrica
      li
        a(href='especialidades.html') Especialidades
      li
        a(href='infraestructura.html') Infraestructura
      li
        a(href='noticias.html') Noticias
      li
        a(href='citas.html') Citas en Línea      
      li
        a(href='citas.html') Contáctenos
    .derechos
      p SunRise© 2017
  .tren.fadeInDown.animated
.fixed-fono
  .fono
    span.fono-casa
      | <i class="icon-phone"></i>  2751124 
    span.fono-cel 
      | <i class="icon-phone"></i>  945395469
    span.fono-cita 
      | <i class="icon-whatsapp"></i>  995777555