footer.footer.container.clearfix
  .clearfix.footer_inner
    ul.lista_footer.list_reset.clearfix
      li
        a(href='http://sunrise.pe/quienes-somos/') Quiénes Somos
      li
        a(href='http://sunrise.pe/') Neumología Pediátrica
      li
        a(href='http://sunrise.pe/') Especialidades
      li
        a(href='http://sunrise.pe/infraestructuras/') Infraestructura
      li
        a(href='http://sunrise.pe/consejos-y-noticias/') Noticias
      li
        a(href='http://sunrise.pe/citas-en-linea/') Citas en Línea
    .derechos
      p SunRise© 2015 | Todos los Derechos Reservados 
  .tren.fadeInDown.animated
  // <div class="tren animated wow fadeInRight" data-wow-delay=".5s"></div>
