header.header-sitio
    .contenedor-logo-y-navegacion-principal
        .logo-y-navegacion-principal
            a(href="index.html")
                img.logo-header(src='images/logo.png', alt='Medifarma', width='217', height='60')
            .redes-mobile
              a(href="https://www.facebook.com/SunriseCentroPediatrico", target="_blank").ico-facebook.icon-facebook-square 
              a(href="https://twitter.com/Sunrise_CP", target="_blank").ico-twitter.icon-twitter-square
            nav.navegacion-principal
                h1 Navegación Principal
                a.boton-menu-principal
                    span Menu principal
                    span.linea
                ul.enlaces-navegacion-principal
                    li
                        a(href='quienes-somos.html') Quiénes Somos
                    li
                        a(href='neumologia-pediatrica.html') Neumología Pediátrica
                    li
                        a(href='especialidades.html') Especialidades
                    li
                        a(href='infraestructura.html') Infraestructura
                    li
                        a(href='consejos-y-noticias.html') Consejos y Noticias
                    li
                        a(href='citas.html') Citas en Línea

header.header.container
  .clearfix.header_inner
    .content_menu.clearfix
      .main_menu
        a.vertical_text.navi0(href='quienes-somos.html') Quiénes Somos
        a.vertical_text.navi1(href='neumologia-pediatrica.html') Neumología Pediátrica
        a.vertical_text.navi2(href='especialidades.html') Especialidades
        a.vertical_text.navi3(href='infraestructura.html') Infraestructura
        a.vertical_text.navi4(href='consejos-y-noticias.html') Consejos y Noticias
        a.vertical_text.navi5(href='citas.html') Citas en Línea
    .content_clound.clearfix
      a.inicio(href='#')
      a.link-home(href='index.html')
        img#casita(src='images/casita.png')
      .cloud
      .pajarito
        img#notamusical(src='images/notamusical.png')
      .red-social
        a(href='https://twitter.com/Sunrise_CP', target='_blank')
          img#icotwitter(src='images/icotwitter.png')
        a(href='https://www.facebook.com/SunriseCentroPediatrico', target='_blank')
          img#icofacebook(src='images/icofacebook.png')
      h1.logo_image
        a(title='http://sunrise.pe', href='http://sunrise.pe/')
          img#logo.image_no_margin.fadeInDown.animated(alt='', src='images/logo.png')
