header.header.container
  .clearfix.header_inner
    .content_menu.clearfix
      .main_menu
        a.vertical_text.navi0(href='#') Quiénes Somos
        a.vertical_text.navi1(href='#') Neumología Pediátrica
        a.vertical_text.navi2(href='#') Especialidades
        a.vertical_text.navi3(href='#') Infraestructura
        a.vertical_text.navi4(href='#') Consejos y Noticias
        a.vertical_text.navi5(href='#') Citas en Línea
    .content_clound.clearfix
      a.inicio(href='http://sunrise.pe/')
      a.link-home(title='http://sunrise.pe', href='http://sunrise.pe/')
        img#casita(src='images/casita.png')
      .cloud
      .pajarito
        img#notamusical(src='images/notamusical.png')
      .red-social
        a(href='https://twitter.com/Sunrise_CP', target='_blank')
          img#icotwitter(src='images/icotwitter.png')
        a(href='https://www.facebook.com/SunriseCentroPediatrico', target='_blank')
          img#icofacebook(src='images/icofacebook.png')
      h1.logo_image
        a(title='http://sunrise.pe', href='http://sunrise.pe/')
          img#logo.image_no_margin.fadeInDown.animated(alt='', src='images/logo.png')
