header.header.container
  .clearfix.header_inner
    .content_menu.clearfix
      .main_menu
        a.vertical_text.navi0(href='http://sunrise.pe/quienes-somos/') Quiénes Somos
        a.vertical_text.navi1(href='http://sunrise.pe/neumologia-pediatrica/') Neumología Pediátrica
        a.vertical_text.navi2(href='http://sunrise.pe/especialidades/') Especialidades
        a.vertical_text.navi3(href='http://sunrise.pe/infraestructuras') Infraestructura
        a.vertical_text.navi4(href='http://sunrise.pe/consejos-y-noticias/') Consejos y Noticias
        a.vertical_text.navi5(href='http://sunrise.pe/citas-en-linea/') Citas en Línea
    .content_clound.clearfix
      a.inicio(href='http://sunrise.pe/')
      a(title='http://sunrise.pe', href='http://sunrise.pe/')
        img#casita(src='http://sunrise.pe/wp-content/themes/sunrise/images/casita.png')
      .cloud
      .pajarito
        img#notamusical(src='http://sunrise.pe/wp-content/themes/sunrise/images/notamusical.png')
      .red-social
        a(href='https://twitter.com/Sunrise_CP', target='_blank')
          img#icotwitter(src='http://sunrise.pe/wp-content/themes/sunrise/images/icotwitter.png')
        a(href='https://www.facebook.com/SunriseCentroPediatrico', target='_blank')
          img#icofacebook(src='http://sunrise.pe/wp-content/themes/sunrise/images/icofacebook.png')
      h1.logo_image
        a(title='http://sunrise.pe', href='http://sunrise.pe/')
          img#logo.image_no_margin.fadeInDown.animated(alt='', src='http://sunrise.pe/wp-content/themes/sunrise/images/logo.png')
