extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'Sunrise', seccion: 'Quienes Somos'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    .container.main.clearfix
      .iconos
      .clearfix.content
        .clearfix.content_inner
          .hfeed.main_content
            .clearfix.main_content_inner
              .content_main.clearfix
                .content_left_inner
                  .main_consejos

                    h2.noticia_rugrats Consejos
                    a(href="consejos-all.html").verpost Ver Consejos
                    .contenido_inner.clearfix
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second ¿Su bebé presenta tos? Puede ser una bronquiolitis
                          img.alignnone.wp-image-286(src='images/gripe.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | Una enfermedad típica de esta época de frío y que se presenta usualmente en menores de dos años.  Es común en clínicas y hospitales recibir en consulta a niños pequeños.
                        a.link(href='consejos.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Cuidados del recién nacido: Despejando mitos y verdades
                          img.alignnone.wp-image-286(src='images/gripe.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | Ser padres por primera vez puede representar la aventura más maravillosa de la vida, pero también una aventura cargada de miedos e incertidumbres.
                        a.link(href='consejos.html') Ver más
                  .main_consejos

                    h2.noticia_rugrats Noticias
                    a(href="noticias-all.html").verpost Ver Noticias
                    .contenido_inner.clearfix
                      .box-noticia
                        .content_noticias
                          a(href="noticias.html").title_second Sunrise en la TV! - Entrevista en el programa La Buena Vida de Plus TV
                          img(src='images/gripe.jpg', alt='collage-modificado', width='391', height='288')
                        .desc_noticias
                          p
                            | El Dr.  Javier Jugo Rebaza, como invitado al  programa, La Buena Vida de Plus tv, donde trató el tema  ¿Cómo curar la fiebre infantil? 
                        a.link(href='noticias.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="noticias.html").title_second  Llegó Sunrise, el centro médico especializado para sus niños
                          img.alignnone.wp-image-286(src='images/gripe.jpg', alt='collage-modificado', width='391', height='288')
                        .desc_noticias
                          p
                            | Luego un año y medio de constante trabajo, el centro pediátrico Sunrise está cerca a comenzar sus atenciones médicas especializadas en Surco. 
                        a.link(href='noticias.html') Ver más
