extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'Sunrise', seccion: 'Quienes Somos'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    .container.main.clearfix
      .iconos
      .clearfix.content
        .clearfix.content_inner
          .hfeed.main_content
            .clearfix.main_content_inner
              .content_main.clearfix
                .content_left_inner
                  .main_consejos

                    h2.noticia_rugrats Consejos
                    a(href="#").verpost Ver Consejos
                    .contenido_inner.clearfix
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Todo lo que debe saber del asma y del uso de inhaladores
                          img.alignnone.wp-image-286(src='images/asma2.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | El asma no tiene curación pero si se puede controlar. El tratamiento consiste en lograr que el asmático haga su vida normal tan igual como si no tuviera asma ..
                        a.link(href='consejos.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Enfermedades típicas del invierno en niños y cómo prevenirlas
                          img.alignnone.wp-image-286(src='images/resfrido.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | Los resfríos, las faringitis y la tos son las molestias más comunes con las que llegan a consulta los padres. Sepa cómo alejarlas de sus pequeños.
                        a.link(href='consejos.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Neumonía: Una grave complicación de los pulmones
                          img.alignnone.wp-image-286(src='images/consejo-neumo.jpeg', width='391', height='288')
                        .desc_noticias
                          p
                            | Los niños menores de dos años, suelen ser los potenciales candidatos para presentar esta enfermedad que amenaza sus vidas.
                        a.link(href='consejos.html') Ver más
                        
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second ¿Rinitis alérgica o resfrío? Descubra la diferencia
                          img.alignnone.wp-image-286(src='images/rinitis.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | Nariz tupida, secreción nasal y estornudos, no siempre suelen ser signos de un resfrío. Descubra como descartar una rinitis en sus pequeños.
                        a.link(href='consejos.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second ¿Su bebé presenta tos? Puede ser una bronquiolitis
                          img.alignnone.wp-image-286(src='images/tos.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | Una enfermedad típica de esta época de frío y que se presenta usualmente en menores de dos años
                        a.link(href='consejos.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Cuidados del recién nacido: Despejando mitos y verdades
                          img.alignnone.wp-image-286(src='images/nacido.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | Ser padres por primera vez puede representar la aventura más maravillosa de la vida, pero también una aventura cargada de miedos e incertidumbres.
                        a.link(href='consejos.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Sepa cómo proteger la piel de los niños en el verano
                          img.alignnone.wp-image-286(src='images/piel.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | Llegaron los días en que el Sol empieza a reinar. Por ello debemos saber que, si bien el cuidado de la piel es importante a cualquier edad
                        a.link(href='consejos.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Precauciones para la primavera ¿Preguntas Comunes?
                          img.alignnone.wp-image-286(src='images/primavera.jpg', width='391', height='288')
                        .desc_noticiass
                          p
                            | ¿Cada estación trae sus propias tendencias a ciertas enfermedades? Desde luego. Las enfermedades más frecuentes en invierno –resfríos. 
                        a.link(href='consejos.html') Ver más
                    .pagination
                      span.page-numbers.current 1
                      a.page-numbers(href='#') 2
                      a.next.page-numbers(href='#') Siguiente »
