extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'Sunrise', seccion: 'Quienes Somos'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    .container.main.clearfix
      .iconos
      .clearfix.content
        .clearfix.content_inner
          .hfeed.main_content
            .clearfix.main_content_inner
              .content_main.clearfix
                .content_left_inner
                  .main_consejos

                    h2.noticia_rugrats Consejos
                    a(href="#").verpost Ver Consejos
                    .contenido_inner.clearfix
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Enfermedades típicas del invierno en niños y cómo prevenirlas
                              //- img.alignnone.wp-image-286(src='http://sunrise.pe/wp-content/uploads/2014/10/collage-modificado-1024x753.jpg', alt='collage-modificado', width='391', height='288')
                          img.alignnone.wp-image-286(src='images/gripe.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | Los resfríos, las faringitis y la tos son las molestias más comunes con las que llegan a consulta los padres. Sepa cómo alejarlas de sus pequeños.
                        a.link(href='consejos.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Enfermedades típicas del invierno en niños y cómo prevenirlas
                          img.alignnone.wp-image-286(src='images/gripe.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | Los resfríos, las faringitis y la tos son las molestias más comunes con las que llegan a consulta los padres. Sepa cómo alejarlas de sus pequeños.
                        a.link(href='consejos.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Enfermedades típicas del invierno en niños y cómo prevenirlas
                          img.alignnone.wp-image-286(src='images/gripe.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | Los resfríos, las faringitis y la tos son las molestias más comunes con las que llegan a consulta los padres. Sepa cómo alejarlas de sus pequeños.
                        a.link(href='consejos.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Enfermedades típicas del invierno en niños y cómo prevenirlas
                          img.alignnone.wp-image-286(src='images/gripe.jpg', width='391', height='288')
                        .desc_noticiass
                          p
                            | Los resfríos, las faringitis y la tos son las molestias más comunes con las que llegan a consulta los padres. Sepa cómo alejarlas de sus pequeños.
                        a.link(href='consejos.html') Ver más
                    .pagination
                      span.page-numbers.current 1
                      a.page-numbers(href='#') 2
                      a.next.page-numbers(href='#') Siguiente »
