extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'Sunrise', seccion: 'Quienes Somos'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    .container.main.clearfix
      .iconos
      .clearfix.content
        .clearfix.content_inner
          .hfeed.main_content
            .clearfix.main_content_inner
              .content_main.clearfix
                .content_left_inner
                  .main_consejos

                    h2.noticia_rugrats Consejos
                    a(href="#").verpost Ver Consejos
                    .contenido_inner.clearfix
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second ¿Su bebé presenta tos? Puede ser una bronquiolitis
                              //- img.alignnone.wp-image-286(src='http://sunrise.pe/wp-content/uploads/2014/10/collage-modificado-1024x753.jpg', alt='collage-modificado', width='391', height='288')
                          img.alignnone.wp-image-286(src='images/tos.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | Una enfermedad típica de esta época de frío y que se presenta usualmente en menores de dos años.  Es común en clínicas y hospitales recibir en consulta a niños pequeños con tos y dificultades respiratorias, conocida como la bronquiolitis. Una enfermedad muy común en menores de 2 años.
                        a.link(href='consejos.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Cuidados del recién nacido: Despejando mitos y verdades
                          img.alignnone.wp-image-286(src='images/nacido.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | Ser padres por primera vez puede representar la aventura más maravillosa de la vida, pero también una aventura cargada de miedos e incertidumbres.
                        a.link(href='consejos.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Sepa cómo proteger la piel de los niños en el verano
                          img.alignnone.wp-image-286(src='images/dermatologia 2.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | Llegaron los días en que el Sol empieza a reinar. Por ello debemos saber que, si bien el cuidado de la piel es importante a cualquier edad
                        a.link(href='consejos.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Precauciones para la primavera ¿Preguntas Comunes?
                          img.alignnone.wp-image-286(src='images/primavera.jpg', width='391', height='288')
                        .desc_noticiass
                          p
                            | ¿Cada estación trae sus propias tendencias a ciertas enfermedades? Desde luego. Las enfermedades más frecuentes en invierno –resfríos-, pueden diferir de las producidas en verano –diarreas-. 
                        a.link(href='consejos.html') Ver más
                    .pagination
                      span.page-numbers.current 1
                      a.page-numbers(href='#') 2
                      a.next.page-numbers(href='#') Siguiente »
