extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'Sunrise', seccion: 'Quienes Somos'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    .container.main.clearfix
      .iconos
      .clearfix.content
        .clearfix.content_inner
          .hfeed.main_content
            .clearfix.main_content_inner
              .content_main.clearfix
                .content_left_inner
                  .main_consejos

                    h2.noticia_rugrats Consejos
                    a(href="consejos-all.html").verpost Ver Consejos
                    .contenido_inner.clearfix
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Todo lo que debe saber del asma y del uso de inhaladores
                          img.alignnone.wp-image-286(src='images/asma2.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | El asma no tiene curación pero si se puede controlar. El tratamiento consiste en lograr que el asmático haga su vida normal tan igual como si no tuviera asma.
                        a.link(href='consejos.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="consejos.html").title_second Enfermedades típicas del invierno en niños y cómo prevenirlas
                          img.alignnone.wp-image-286(src='images/resfrido.jpg', width='391', height='288')
                        .desc_noticias
                          p
                            | Los resfríos, las faringitis y la tos son las molestias más comunes con las que llegan a consulta los padres. Sepa cómo alejarlas de sus pequeños.
                        a.link(href='consejos.html') Ver más
                  .main_consejos

                    h2.noticia_rugrats Noticias
                    a(href="noticias-all.html").verpost Ver Noticias
                    .contenido_inner.clearfix
                      .box-noticia
                        .content_noticias
                          a(href="noticias.html").title_second Sunrise celebra 2 años como cómplices en la salud de los niños
                          img(src='images/aniversario.jpg', alt='collage-modificado', width='391', height='288')
                        .desc_noticias
                          p
                            | Con una innovadora propuesta médica, el Centro Pediátrico Sunrise ubicado en el distrito de Surco celebra dos años de trabajo.
                        a.link(href='noticias.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="noticias.html").title_second Lanzamiento del paquete diagnistico de asma
                          img(src='images/asma.jpg', alt='collage-modificado', width='391', height='288')
                        .desc_noticias
                          p
                            | Lanzamos a nuestra comunidad Sunrise,  el paquete de súper descuento de Diagnóstico de Asma. 
                        a.link(href='noticias.html') Ver más
