extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'Sunrise', seccion: 'Quienes Somos'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    .container.main.clearfix
      .iconos
      .clearfix.content
        .clearfix.content_inner
          .hfeed.main_content
            .clearfix.main_content_inner
              .content_main.clearfix
                .content_left_inner
                  h2.title_rugrats Consejos
                  a.verpost(href='consejos-y-noticias.html') Regresar
                  .contenido_noticia
                    .content_noticias
                      h3.title_second Enfermedades típicas del invierno en niños y cómo prevenirlas
                      span Publicado: 30 de Octubre, 2016 
                      .contenido-image
                        img.alignnone.wp-image-286(src='images/gripe.jpg', alt='collage-modificado', height='288', width='391')
                        //- p
                        //-   a(href='images/gripe.jpg')
                        //-     img.alignnone.wp-image-286(src='images/gripe.jpg', alt='collage-modificado', height='288', width='391')
                    .content_noticias
                      p
                        | Los resfríos, las faringitis y la tos son las molestias más comunes con las que llegan a consulta los padres. Sepa cómo alejarlas de sus pequeños.
                      p
                        | El frío empieza a imponerse, los rayos solares cada vez son más esporádicos y es también muy común que las salas de espera en hospitales y clínicas infantiles empiecen a cobijar con mayor afluencia a los más pequeños del hogar. Precisamente, con los cambios de temperatura ellos son los más propensos a caer enfermos, pues juegan despreocupados y no están pendientes de las condiciones del día, mucho menos de los cuidados que deben tener. “Esto puede hacer que las defensas de las vías respiratorias disminuya su efectividad para eliminar virus, bacterias entre otros microbios y por consiguiente enfermarse rápidamente”, sostiene el neumólogo pediatra, Javier Jugo Rebaza del Centro Pediátrico Sunrise.
                      p
                        | Asimismo, el especialista explica que las infecciones respiratorias de las vías aéreas superiores son las consultas más frecuentes en estos meses del año. Los resfríos, las faringitis y la tos son las molestias más usuales con las que llegan los padres. La mayoría de veces estos males son ocasionados por virus respiratorios; pero además, los diagnósticos más serios son cuando la fiebre es el síntoma más importante de estas molestias y sobre todo cuando es muy alta (más de 38°C) que suele corresponder a una infección que requiere tratamiento antibiótico. 
                      p
                        | Según el neumólogo pediatra, la mayoría de afecciones respiratorias suele durar entre 7 a 10 días. Pero, cuando el niño padece de alergias, rinitis o asma, pueden durar más tiempo a pesar del tratamiento específico. Incluso se pueden complicar y desarrollar síntomas mucho más severos que requieran atención por emergencia e incluso hospitalización de ser necesario.
                      p
                        | El neumólogo del Centro Pediátrico Sunrise a continuación detalla una lista de cuidados para mantener a los niños lejos de las enfermedades más comunes del invierno:
