extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'Sunrise', seccion: 'Meicina Pediatrica y especialidades'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    .content_slider
      .flexslider
        ul.slides
          li
            img(src='images/home1.jpg')
          li
            img(src='images/home2.jpg')
          li
            img(src='images/home3.jpg')
    .content_slider_mobile
      img(src="images/slider-mobile.png", alt="")
    .container.main.clearfix
      .iconos
      .clearfix.content
        .clearfix.content_inner
          .main_content.main-home
            .clearfix.main_content_inner
              .content_left.clearfix
                .content_left_inner
                  .box-bienvenida
                    h2.title_rugrats Bienvenidos
                    p
                      | Los especialistas del centro pediátrico Sunrise entendemos que su principal preocupación es la salud de los niños. Es por ello que hemos reunido a un grupo de profesionales médicos altamente especializados para cuidarlos, prevenir posibles enfermedades y tratarlos integralmente.
                    p
                      | La experiencia de cada miembro de nuestro staff, los equipos médicos y los consultorios que hemos implementado nos permite garantizarle la tranquilidad que necesita. 
                      a.link_home(href='http://sunrise.pe/citas-en-linea/', target='_blank')  Comuníquese con nosotros 
                      | para empezar a ocuparnos juntos por la buena salud de los menores.
                    .box-video
                      <iframe width="400" height="225" src="https://www.youtube.com/embed/IZ-35LtDLjA?rel=0" frameborder="0" allowfullscreen></iframe>
              .content_right.clearfix
                .content_right_inner
                  a.separa(href='http://sunrise.pe/contactenos/')
                  .cloud_footer
                  .texto
                    a.email(href='mailto:jjugo@sunrise.pe') sunrisepediatria@sunrise.pe
                    .address Av. Benavides 4887 Of. 201 -  Surco
                    .fono
                      span.fono-casa
                        | <i class="icon-phone4"></i>  <a href="tel:2751124">2751124</a>
                      span.fono-cel 
                        | <i class="icon-phone"></i> <a href="tel:945395469">945395469</a>  
                      span.fono-cita 
                        | <i class="icon-whatsapp"></i> <a href="tel:995777555">995777555</a>  