extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'Sunrise', seccion: 'Quienes Somos'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    .container.main.clearfix
      .iconos
      .clearfix.content
        .clearfix.content_inner
          .hfeed.main_content
            .clearfix.main_content_inner
              .content_left.clearfix
                .content_left_inner
                  .main_especial
                    h2.title_rugrats Especialidades
                    .foto-doctor
                      img(src='http://sunrise.pe/wp-content/themes/sunrise/images/doctores/javier-jugo.png', alt='')
                    h4.nombre-especialidad Pediatría General
                    p.nombre-doctor Dr. Javier Jugo Rebaza
                    p.cmp CMP 25986
                    p.rne RNE 11229
                    p  
                    p  
                    h3.title_especial SOBRE LA ESPECIALIDAD
                    p
                      | El pediatra general acompaña al niño y su familia desde el primer día de nacido hasta que llegue el fin de su adolescencia. En este lapso buscamos la promoción de una buena salud mental, emocional y física, por lo que ofrecemos revisiones médicas integrales para evitar complicaciones. También contamos con atención inmediata ante algún problema de salud.
                    p  
                    h3.title_especial TRAYECTORIA MÉDICA:
                    ul.trayectoria
                      li.vineta Neumólogo Pediatra egresado de la Universidad Peruana Cayetano Heredia (2001)
                      li.vineta
                        | Prácticas clínicas en Hospital La Paz, en Madrid, España, para la Universidad Autónoma de Madrid (2001)
                      li.vineta Neumólogo Pediatra Asistente en el Hospital Materno Infantil San Bartolomé
                      li.vineta
                        | Neumólogo Pediatra de Medicina Preventiva Programa Cuídate en la  clínica Internacional.
                      li.vineta Neumólogo Pediatra de la clínica Maison de Santé Sede Surco.
                      li.vineta
                        | Miembro de la Sociedad Peruana de Pediatría en la especialidad de Neumología Pediátrica.
                      li.vineta Miembro de la Sociedad Latinoamericana de Neumología Pediátrica (SOLANEP)
                      li.vineta Miembro de la American Thoracic Society (ATL)
                      li.vineta
                        | Investigador en Site para protocolos de investigación en el Hospital San Bartolomé, Lima.
                      li.vineta
                        | Ponente de los talleres de Asma organizado por la Sociedad Peruana de Pediatría a nivel nacional.
                      li.vineta
                        | Ponente en eventos de Neumología Pediátrica organizados por la Sociedad Peruana de Pediatría y la Sociedad Peruana de Neumología
                      li.vineta
                        | Ponente en Temas de Neumología pediátrica en cursos organizados por el Hospital Docente Madre Niño San Bartolomé.
                    p
                      a.volver-atras(href='http://sunrise.pe/especialidades/')  Volver atrás
              .content_right.clearfix
                .content_right_inner
                  a.separa(href='http://sunrise.pe/contactenos/')
                  .cloud_footer
                  .texto
                    a.email(href='mailto:jjugo@sunrise.pe') sunrisepediatria@sunrise.pe
                    .address Av. Benavides 4887 Of. 201 -  Surco
                    .fono
                      | Telf: 2751124 
                      br
                      |    Cel: 945395469
