extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'Sunrise', seccion: 'Quienes Somos'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    .container.main.clearfix
      .iconos
      .clearfix.content
        .clearfix.content_inner
          .hfeed.main_content
            .clearfix.main_content_inner
              .content_left.clearfix
                .content_left_inner
                  .main_infraestructura
                    h2.title_rugrats Infraestructura
                    p
                      | En Sunrise queremos que los padres tengan confianza en nuestra experiencia profesional y que los niños vean a los médicos como sus aliados. Por eso hemos adecuado nuestras instalaciones para ellos, nuestra principal preocupación. Con motivos lúdicos y un ambiente amigable especialmente diseñado para los niños. Contamos con equipos de última generación para que nuestro centro le ofrezca el mejor de los servicios.
                    .galeria-consutorio
                      ul#lista_especialidad.lista_especialidad.list_reset.clearfix
                        li#post-264.box.clearfix
                          // Apply Custon Files
                          a.fancybox(href='http://sunrise.pe/wp-content/uploads/2015/04/sunrise-counter.jpg', title='Counter ', data-fancybox-group='gallery')
                            img.img-infraestructura.wp-post-image(width='198', height='138', src='http://sunrise.pe/wp-content/uploads/2015/04/sunrise-counter-thu.jpg', alt='sunrise-counter-thu', data-pin-nopin='true')
                        li#post-236.box.clearfix
                          // Apply Custon Files
                          a.fancybox(href='http://sunrise.pe/wp-content/uploads/2015/04/sunrise-area-recreativa-de-ninos.jpg', title='Área recreativa de niños ', data-fancybox-group='gallery')
                            img.img-infraestructura.wp-post-image(width='198', height='138', src='http://sunrise.pe/wp-content/uploads/2015/04/sunrise-area-recreativa-de-ninos-thu.jpg', alt='sunrise-area-recreativa-de-ninos-thu', data-pin-nopin='true')
                        li#post-262.box.clearfix
                          // Apply Custon Files
                          a.fancybox(href='http://sunrise.pe/wp-content/uploads/2015/04/sunrise-consultorio-principal.jpg', title='Consultorio Principal ', data-fancybox-group='gallery')
                            img.img-infraestructura.wp-post-image(width='198', height='138', src='http://sunrise.pe/wp-content/uploads/2015/04/sunrise-consultorio-principal-thu.jpg', alt='sunrise-consultorio-principal-thu')
                        li#post-258.box.clearfix
                          // Apply Custon Files
                          a.fancybox(href='http://sunrise.pe/wp-content/uploads/2015/04/Consultorio-Neumologia-Pediatrica.jpg', title='Consultorio Neumologia Pediatrica ', data-fancybox-group='gallery')
                            img.img-infraestructura.wp-post-image(width='198', height='138', src='http://sunrise.pe/wp-content/uploads/2015/04/Consultorio-Neumologia-Pediatrica-thu.jpg', alt='Consultorio-Neumologia-Pediatrica-thu')
                        li#post-256.box.clearfix
                          // Apply Custon Files
                          a.fancybox(href='http://sunrise.pe/wp-content/uploads/2015/04/sunrise-consultorio-de-especialidades.jpg', title='Consultorio de Especialidades ', data-fancybox-group='gallery')
                            img.img-infraestructura.wp-post-image(width='198', height='138', src='http://sunrise.pe/wp-content/uploads/2015/04/sunrise-consultorio-de-especialidades-thu.jpg', alt='sunrise-consultorio-de-especialidades-thu')
                        li#post-266.box.clearfix
                          // Apply Custon Files
                          a.fancybox(href='http://sunrise.pe/wp-content/uploads/2015/04/sunrise-topico.jpg', title='Tópico ', data-fancybox-group='gallery')
                            img.img-infraestructura.wp-post-image(width='198', height='138', src='http://sunrise.pe/wp-content/uploads/2015/04/sunrise-topico-thu1.jpg', alt='sunrise-topico-thu')
                        li#post-271.box.clearfix
                          // Apply Custon Files
                          a.fancybox(href='http://sunrise.pe/wp-content/uploads/2015/04/bano-para-nino.jpg', title='Baños para niños ', data-fancybox-group='gallery')
                            img.img-infraestructura.wp-post-image(width='198', height='138', src='http://sunrise.pe/wp-content/uploads/2015/04/bano-para-ninos-thu.jpg', alt='bano-para-ninos-thu')
                        li#post-269.box.clearfix
                          // Apply Custon Files
                          a.fancybox(href='http://sunrise.pe/wp-content/uploads/2015/04/Bano-de-adultos.jpg', title='Baño de adultos ', data-fancybox-group='gallery')
                            img.img-infraestructura.wp-post-image(width='198', height='138', src='http://sunrise.pe/wp-content/uploads/2015/04/Bano-de-adultos-thu.jpg', alt='Bano-de-adultos-thu')      
              .content_right.clearfix
                .content_right_inner
                  a.separa(href='http://sunrise.pe/contactenos/')
                  .cloud_footer
                  .texto
                    a.email(href='mailto:jjugo@sunrise.pe') sunrisepediatria@sunrise.pe
                    .address Av. Benavides 4887 Of. 201 -  Surco
                    .fono
                      | Telf: 2751124 
                      br
                      |    Cel: 945395469
