extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'Sunrise', seccion: 'Quienes Somos'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    .container.main.clearfix
      .iconos
      .clearfix.content
        .clearfix.content_inner
          .hfeed.main_content
            .clearfix.main_content_inner
              .content_main.clearfix
                .content_left_inner
                  h2.title_rugrats Noticias
                  a.verpost(href='consejos-y-noticias.html') Regresar
                  .contenido_noticia
                    .content_noticias
                      h3.title_second ¡FELIZ ANIVERSARIO! SUNRISE CUMPLE 1 AÑO CON SUMA ALEGRÍA
                      span Publicado: 30 de Octubre, 2016 
                      .contenido-image
                        img.alignnone.wp-image-286(src='http://sunrise.pe/wp-content/uploads/2014/10/collage-modificado-1024x753.jpg', alt='collage-modificado', height='288', width='391')
                        //- p
                        //-   a(href='http://sunrise.pe/wp-content/uploads/2014/10/collage-modificado.jpg')
                        //-     img.alignnone.wp-image-286(src='http://sunrise.pe/wp-content/uploads/2014/10/collage-modificado-1024x753.jpg', alt='collage-modificado', height='288', width='391')
                    .content_noticias
                      p
                        | Este 4 de noviembre cumplimos nuestro primer año. Un año de muchas experiencias y gratos momentos que nos genera el sentimiento más profundo de satisfacción, pues todo primer año marca un antes y un después. Marca las bases de lo que serán los años venideros y se convierte en esa fase mezclada de nostalgia y alegría con que se inicia todo sueño de crecer en empresa.
                      p
                        | En estos doce meses de acción, todo el grupo de colaboradores del Centro Pediátrico Sunrise hemos trabajado día a día y con sumo esfuerzo para hacer de este lugar un cómodo recinto de atención especializado en prevalecer la salud de los niños. Mes a mes hemos recibido con gusto a centenares de padres y sus pequeños, quienes han acudido a consulta y se han convertido en cómplices de este gran proyecto. Cada unos de ellos nos han nutrido con su visita, nos han felicitado, así como nos han expresado su admiración, por la atención de primera recibida y por convertirnos en guías para sus familias.
                      p
                        | Vale rememorar que, desde la apertura del Centro Pediátrico Sunrise, nuestros colaboradores y en especial el Dr. Javier Jugo Rebaza – fundador y profesional de calificada experiencia como neumólogo pediatra – han sido reconocidos por su labor en muchas ocasiones. Es así que, el Dr. Jugo Rebaza ha sido solicitado en reiteradas veces para volcar todos sus conocimientos a la comunidad, como invitado para disertar sobre temas de crianza, salud y prevención en menores, a través de diversos medios de comunicación (radio, televisión, revistas, diarios y webs especializadas).
                      p
                        | Por ello y más, este año de arduo trabajo queda muy bien guardado en la historia de nuestra empresa. Y estamos más que contentos, pues el resumen de este primer año es positivo. Positivo porque hemos podido salir airosos, mantenernos en pie y cumplir un año fortalecidos de cuantiosas lecciones para seguir con los objetivos que desde nuestra fundación establecimos: un servicio de primera y una atención especializada, pensados en las familias de hoy.
                      p
                        | Finalmente, no nos queda más que agradecerle a toda nuestra comunidad Sunrise por seguirnos este primer año, por la confianza entregada y por motivarnos continuamente a ser mejores. Y, hoy más que nunca, nos sentimos comprometidos en seguir creciendo por cada unos de ustedes y sus familias, porque ¡lo mejor está por venir! y deseamos que sigan siendo nuestros cómplices en el camino que nos queda por recorrer.
