extends ../plantillas/plantilla-principal

block title
    -var proyecto = {nombre: 'Sunrise', seccion: 'Quienes Somos'}
    title #{proyecto.nombre} | #{proyecto.seccion}

block description
    meta(name='description', content='Descripción de la página')
block content
    .container.main.clearfix
      .iconos
      .clearfix.content
        .clearfix.content_inner
          .hfeed.main_content
            .clearfix.main_content_inner
              .content_main.clearfix
                .content_left_inner
                  .main_consejos

                    h2.noticia_rugrats Noticias
                    a(href="#").verpost Ver Noticias
                    .contenido_inner.clearfix
                      .box-noticia
                        .content_noticias
                          a(href="noticias.html").title_second Sunrise celebra 2 años como cómplices en la salud de los niños
                          img(src='images/aniversario.jpg', alt='collage-modificado', width='391', height='288')
                        .desc_noticias
                          p
                            | Con una innovadora propuesta médica, el Centro Pediátrico Sunrise ubicado en el distrito de Surco celebra dos años de trabajo.
                        a.link(href='noticias.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="noticias.html").title_second Lanzamiento del paquete diagnistico de asma
                          img(src='images/asma.jpg', alt='collage-modificado', width='391', height='288')
                        .desc_noticias
                          p
                            | Lanzamos a nuestra comunidad Sunrise,  el paquete de súper descuento de Diagnóstico de Asma. 
                        a.link(href='noticias.html') Ver más
                      
                      .box-noticia
                        .content_noticias
                          a(href="noticias.html").title_second ¡FELIZ ANIVERSARIO! SUNRISE CUMPLE 1 AÑO CON SUMA ALEGRÍA
                          img.alignnone.wp-image-286(src='images/colage.jpg', alt='collage-modificado', width='391', height='288')
                        .desc_noticias
                          p
                            | Luego un año y medio de constante trabajo, el centro pediátrico Sunrise está cerca a comenzar sus atenciones médicas especializadas en Surco. 
                        a.link(href='noticias.html') Ver más
                        
                      .box-noticia
                        .content_noticias
                          a(href="noticias.html").title_second El Colegio Médico del Perú, realizó  un reconocimiento 
                          img.alignnone.wp-image-286(src='images/gripe.jpg', alt='collage-modificado', width='391', height='288')
                        .desc_noticias
                          p
                            |   El Colegio Médico del Perú, realizó  un reconocimiento al Dr. Javier Jugo Rebaza,  por  haber cumplido  25 años  de ejercicio, en su noble profesión de médico.
                        a.link(href='noticias.html') Ver más
                          
                      .box-noticia
                        .content_noticias
                          a(href="noticias.html").title_second Nombrado coordinador del Capítulo de Neumología  Pediátrica..
                          img(src='images/nomacion.jpg', alt='collage-modificado', width='391', height='288')
                        .desc_noticias
                          p
                            | Nuestro Neumólogo Pediatra,  Dr. Javier Jugo Rebaza,  fue nombrado coordinador del Capítulo de Neumología  Pediátrica  de la Sociedad  Peruana de Pediatría
                        a.link(href='noticias.html') Ver más
                      
                      .box-noticia
                        .content_noticias
                          a(href="noticias.html").title_second Sunrise en la TV! - Entrevista en el programa La Buena Vida de Plus TV
                          img(src='images/plus-tv.jpg', alt='collage-modificado', width='391', height='288')
                        .desc_noticias
                          p
                            | El Dr.  Javier Jugo Rebaza,  fue invitado al  programa, La Buena Vida de Plus tv, donde trató el tema  ¿Cómo curar la fiebre infantil?
                        a.link(href='noticias.html') Ver más
                        
                      .box-noticia
                        .content_noticias
                          a(href="noticias.html").title_second Inaguración de nuestro Centro Pediátrico Sunrise
                          img.alignnone.wp-image-286(src='images/inagura.jpg', alt='collage-modificado', width='391', height='288')
                        .desc_noticias
                          p
                            | Agradecemos a nuestra madrina Cristina Sánchez del laboratorio Roemmers; la presencia del padre Guillermo, quien realizo la bendición de nuestras instalaciones; la artista Diana Aguilar.
                        a.link(href='noticias.html') Ver más
                      .box-noticia
                        .content_noticias
                          a(href="noticias.html").title_second ¡Feliz Aniversario! Sunrise cumple 1 año con suma alegria
                          img.alignnone.wp-image-286(src='images/local-sunrise.jpg', alt='collage-modificado', width='391', height='288')
                        .desc_noticias
                          p
                            | Este 4 de noviembre cumplimos nuestro primer año. Un año de muchas experiencias y gratos momentos que nos genera el sentimiento más profundo de satisfacción.
                        a.link(href='noticias.html') Ver más
                    .pagination
                      span.page-numbers.current 1
                      a.page-numbers(href='#') 2
                      a.next.page-numbers(href='#') Siguiente »
